<table class="table table-hover" >
    {% for o in cols %}
       <tr>
             <td> 
                 <a href="{{path('rule_edit', { docid:document.id, id:o.id})}}" > {{ o }} </a> 
             </td>
             <td>
                 {{ 'rule.createdVersion'|trans }} : <strong> {{ o.versionCreated }} </strong>
             </td>
             <td class="one-action">
                <a href="{{path('rule_delete', { docid:document.id, id:o.id })}}" class="btn btn-primary" > {{ 'trash-o'|ico }} </a>
             </td>
       </tr>
    {% endfor %}
</table>

